.main-wrap {
  background-color: #343a40;
  height: 100%;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: 100%;
}

.list-group {
  border-radius: 0;
  overflow-y: scroll;
}

.dropdown-toggle {
  border-radius: 0;
  font-size: large;
  width: 100%;
  height: 100%;
}

.main-dropdown-menu {
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
  background-color: #23272b;
}

.main-dropdown-item {
  height: 50px;
  color: white;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.main-dropdown-item:focus, .main-dropdown-item:hover{
  background-color: #343a40;
}

.dropdown-item-profile {
  height: 75px;
}

.list-item {
  width: 100%;
  text-align: inherit;
}

.btn-primary {
  padding: 5px;
}

.small-date {
  white-space: nowrap;
  overflow: hidden;
}

.preview-title {
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}

.preview-description {
  font-weight: lighter;
  color: #d0d0d0;
}

p {
  margin-bottom: 10px;
}

.sidebar {
  display: grid;
  grid-template-rows: 50px 1fr;
  max-height: 100%;
}

small {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.col-md-4 {
  padding: 0;
}

.btn {
  padding: 0;
}

span {
  float: right;
  margin-right: 10px;
  max-width: 30%;
}
