<div class="main-wrap">
  <div class="sidebar">
    <div class="dropdown">
      <button class="dropdown-toggle btn btn-dark" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Charsender
      </button>
      <div class="dropdown-menu main-dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item main-dropdown-item dropdown-item-profile" type="button"  data-toggle="modal"
                data-target="#profileModal">
          <img class="profile-image-small" src="{{tokenService.user.photoUrl ? API_ENDPOINT + tokenService.user.photoUrl : 'favicon.ico'}}"> {{tokenService.user.name}} {{tokenService.user.surname}}
        </button>
        <button class="dropdown-item main-dropdown-item" type="button" data-toggle="modal" data-target="#searchModal">
          Поиск
        </button>
        <button class="dropdown-item main-dropdown-item" type="button" data-toggle="modal"
                data-target="#createGroupModal">Создать группу
        </button>
        <button class="dropdown-item main-dropdown-item" type="button" data-toggle="modal"
                data-target="#createChannelModal">Создать канал
        </button>
      </div>
    </div>

    <div class="list-group">
      <!--      TEMPLATE-->
      <ng-template #sourcesListTemplate let-sourcesList="sources">
        <button (click)="open(source.id)" *ngFor="let source of sourcesList" class="list-item btn btn-dark"
                [class.focus]="currentSource && source.id == currentSource.id">
          <div class="row no-gutters">
            <div class="col-md-3">
              <img src="{{source.avatarImageUrl ? API_ENDPOINT + source.avatarImageUrl : 'favicon.ico'}}" class="card-img profile-image-medium my-image">
            </div>
            <div class="col-md-9">
            <span class="card-text">
              <small class="text-muted small-date">{{source.lastMessageTimestamp}}</small>
            </span>
              <div class="preview-title no-gutters">{{source.name}}</div>
              <p class="preview-description no-gutters">{{source.lastMessageShortText || ""}}</p>
            </div>
          </div>
        </button>
      </ng-template>

      <ng-content *ngTemplateOutlet="sourcesListTemplate;context:{sources: this.sources}"></ng-content>
    </div>
  </div>
  <div class="chatside">
    <app-source [reposting]="this.change" [source]="currentSource"
                (selectedMessage)="setSelectedMessage($event)"></app-source>
  </div>

  <!--  Modal search-->
  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchModalLabel">Поиск</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="form-control search-form" type="text"
                 (ngModelChange)="form.valid ? search(form.value) : foundSources = null" required #form="ngModel"
                 ngModel minlength="1" maxlength="63" id="searchInput">
          <button (click)="openFound(source); form.reset(); foundSources = null" *ngFor="let source of foundSources"
                  class="list-item btn btn-dark"
                  [class.focus]="currentSource && source.id == currentSource.id">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img src="{{source.avatarImageUrl ? API_ENDPOINT + source.avatarImageUrl : 'favicon.ico'}}" class="card-img">
              </div>
              <div class="col-md-9">
                <div class="preview-title no-gutters">{{source.name}}</div>
                <p class="preview-description no-gutters">@{{source.id}}</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--  Modal create group-->
  <div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createGroupModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createGroupModalLabel">Создать группу</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="createGroupError" class="alert alert-danger" role="alert">
            {{createGroupError}}
          </div>
          <form #groupForm="ngForm" (ngSubmit)="createGroup(groupForm, false)">
            <div class="form-group">
              <label for="group-name">Название</label>
              <input id="group-name" class="form-control" name="name" type="text" required ngModel maxlength="63">
            </div>
            <div class="form-group">
              <label for="group-id">Id (необязательно)</label>
              <input id="group-id" class="form-control" name="id" type="text" ngModel pattern="^[-\w]{1,63}$">
              <small class="form-text text-muted">you can use "_", "-", small and capital letters</small>
            </div>
            <div class="form-group">
              <label for="group-about">О группе (необязательно)</label>
              <input id="group-about" class="form-control" name="about" type="text" ngModel maxlength="511">
            </div>
            <div class="form-group">
              <label for="group-input-state">Доступность</label>
              <select id="group-input-state" class="form-control" name="type" ngModel required>
                <option value="0">Открытая</option>
                <option value="1">Приватная</option>
              </select>
            </div>
            <input name="sourceType" hidden type="text" ngModel>
            <button type="submit" class="btn btn-primary" [disabled]="groupForm.invalid">Создать</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--  Modal create channel-->
  <div class="modal fade" id="createChannelModal" tabindex="-1" aria-labelledby="createChannelModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createChannelModalLabel">Заголовок</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="createGroupError" class="alert alert-danger" role="alert">
            {{createGroupError}}
          </div>
          <form #channelForm="ngForm" (ngSubmit)="createGroup(channelForm, true)">
            <div class="form-group">
              <label for="channel-name">Название</label>
              <input id="channel-name" class="form-control" name="name" type="text" required ngModel maxlength="63">
            </div>
            <div class="form-group">
              <label for="channel-id">Id (не меньше 4 символов, необязательно)</label>
              <input id="channel-id" class="form-control" name="id" type="text" ngModel pattern="^[-\w]{1,63}$">
              <small class="form-text text-muted">you can use "_", "-", small and capital letters</small>
            </div>
            <div class="form-group">
              <label for="channel-about">О группе (необязательно)</label>
              <input id="channel-about" class="form-control" name="about" type="text" ngModel maxlength="511">
            </div>
            <div class="form-group">
              <label for="channel-input-state">Доступность</label>
              <select id="channel-input-state" class="form-control" name="type" ngModel required>
                <option value="0">Открытая</option>
                <option value="1">Приватная</option>
              </select>
            </div>
            <input name="sourceType" hidden type="text" ngModel>
            <button type="submit" class="btn btn-primary" [disabled]="channelForm.invalid">Создать</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--  Modal profile-->
  <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profileModalLabel">Профиль</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{tokenService.user.photoUrl ? API_ENDPOINT + tokenService.user.photoUrl : 'favicon.ico'}}" class="profile-image-huge">
          <form class="float-right" [formGroup]="imageFormGroup" (ngSubmit)="sendImage()">
            <div class="form-group">
              <label for="exampleFormControlFile1">Новое фото профиля</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file" (change)="upload($event)">
            </div>
            <button type="submit" class="btn btn-primary">Изменить</button>
          </form>
          <p>Имя: {{tokenService.user.name}}</p>
          <p>Фамилия: {{tokenService.user.surname}}</p>
          <p>Id: {{tokenService.user.id}}</p>
          <p>Email: {{tokenService.user.email}}</p>
          <p>Phone: {{tokenService.user.phone}}</p>
          <button class="btn btn-danger" (click)="logout()">Выйти</button>
        </div>
      </div>
    </div>
  </div>
</div>
