<div class="main-wrap">
  <div class="sidebar">
    <div class="dropdown">
      <button class="dropdown-toggle btn btn-dark" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Charsender
      </button>
      <div class="dropdown-menu bg-secondary" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item dropdown-item-profile" type="button">
          <img src="favicon.ico"> {{tokenService.user.name}} {{tokenService.user.surname}}
        </button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Another action</button>
      </div>
    </div>
    <div class="list-group">
      <button (click)="open(source.id)" *ngFor="let source of sources" class="list-item btn btn-dark">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="{{source.avatarImageUrl}}" class="card-img">
          </div>
          <div class="col-md-9">
            <span class="card-text">
              <small class="text-muted">{{source.lastMessageTimestamp}}</small>
            </span>
            <h5 class="no-gutters">{{source.name}}</h5>
            <p class="no-gutters">{{source.lastMessageShortText}}</p>
          </div>
        </div>
      </button>
    </div>
  </div>
  <div class="chatside">
    <app-source [id]="this.id"></app-source>
  </div>
</div>
