.chat-side-wrap {
  position: relative;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
  background-color: #6c757d;
}

.chat-side {
  overflow-y: scroll;
}

.choose-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.channel-header {
  border-radius: 0;
  width: 100%;
  font-size: large;
}

.small-text {
  color: #d0d0d0;
  margin-left: 20px;
}

.message {
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  margin-top: 5px;
  color: white;
  max-width: 50%;
}

.channel-message {
  margin-right: auto;
  margin-left: auto;
  background-color: #343a40;
}

.user-message {
  background-color: #343a40;
  margin-left: 5px;
}

.my-message {
  margin-left: auto;
  margin-right: 5px;
  background-color: #4c528a;
}

.send-block {
  background-color: #343a40;
  display: grid;
  grid-template-rows: 1fr;
}

.send-form {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr fit-content(40px);
  grid-gap: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.my-dropdown-menu {
  position: absolute;
  background-color: #23272b;
}

.my-dropdown-item {
  color: white;
}

.my-dropdown-item:focus, .my-dropdown-item:hover{
  background-color: #343a40;
}
