<div *ngIf="!_source; else chat" class="choose-chat">CHOOSE CHAT</div>
<ng-template #chat>
  <div class="chat-side-wrap">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark channel-header text-left" data-toggle="modal" data-target="#sourceModal">
      <span>{{_source.name}}</span>
      <small class="small-text">подписчиков: {{_source.subsAmount}}</small>
    </button>
    <!-- Chat -->
    <div class="chat-side">
      <div *ngIf="_source.sourceType == 2; else mainMessage">
        <div *ngFor="let message of _source.messages.content" class="message" [ngClass]=messageClassName(message)
             [ngSwitch]="messageClass(message)" (contextmenu)="rightClick($event, message, messageClass(message))">
          <div *ngSwitchCase="0" class="channel-message-text">
            {{message.text}}
          </div>
          <div *ngSwitchCase="2" class="my-message-text">
            {{message.text}}
          </div>
          <div *ngSwitchCase="1" class="user-message-text">
            {{message.text}}
          </div>
        </div>
      </div>
      <ng-template #mainMessage>
        <div *ngFor="let message of _source.messages.content" class="message" [ngClass]=messageClassName(message)
             [ngSwitch]="messageClass(message)" (contextmenu)="rightClick($event, message, 5 + messageClass(message))">
          <div *ngSwitchCase="0" class="channel-message-text">
            {{message.text}}
          </div>
          <div *ngSwitchCase="2" class="my-message-text">
            {{message.text}}
          </div>
          <div *ngSwitchCase="1" class="user-message-text">
            {{message.author.name}}
            {{message.text}}
          </div>
        </div>
      </ng-template>
    </div>
    <!-- Send form -->
    <div *ngIf="_source.sourceType != 1" class="send-block">
      <form class="form-inline send-form" (ngSubmit)="send(inputText)">
        <input type="text" placeholder="Написать сообщение" #inputText>
        <button type="submit" (click)="inputText.focus()">&rarr;</button>
      </form>
    </div>
  </div>
  <!--  Chat fade-->
  <div class="chat-fade" [ngStyle]="{opacity: !isReposting ? 0 : 1}" [class.invisible]="!isReposting" (click)="cancelRepost()">
    &larr; &larr; &larr; Выберете получателя &larr; &larr; &larr;
  </div>
  <!-- Modal About-->
  <div class="modal fade" id="sourceModal" tabindex="-1" aria-labelledby="sourceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sourceModalLabel">{{getTypeName(_source)}} {{_source.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>id: {{_source.id}}</p>
          <p>about: {{_source.about}}</p>
          <button></button>
        </div>
      </div>
    </div>
  </div>
  <!--  Right-click Menu-->
  <div class="dropdown-menu my-dropdown-menu" [class.show]="showRightClickMenu" [ngStyle]="{top: this.rightClickTop + 'px', left: this.rightClickLeft + 'px'}">
    <button class="dropdown-item my-dropdown-item" type="button" (click)="repost()">Переслать</button>
    <button *ngIf="rightClickMessage?.author?.id == tokenService.user.id" class="dropdown-item my-dropdown-item" type="button" (click)="delete()">Удалить</button>
    <button class="dropdown-item my-dropdown-item" type="button" (click)="copy()">Скопировать текст</button>
  </div>
</ng-template>
